// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#siteAddPage{
    input[name='type']{
        &:checked+label{
            opacity: 1;
        }
        display: none;
    }
    .type_label{
        opacity: 0.4;
    }
}
